# GitHub repositories analysis

In [1]:
import pandas as pd
import os
import glob

## Read the data

In [2]:
files = glob.glob("./data/**/*.csv", recursive=True)
print("Encontrados", len(files), "ficheros")

Encontrados 14 ficheros

In [3]:
df = pd.concat((pd.read_csv(f) for f in files), ignore_index=True)

In [4]:
df.sort_values(by=["ts", "views_total"], ascending=False).head(3)

,Unnamed: 0,name,ts,stars_count,views_total,views_uniques,clones_total,clones_uniques
22,0,ta,2022-07-13,3,0,0,31,23
23,1,b0rr3g0-blog,2022-07-13,0,0,0,2,1
24,2,ExpresionesLambdas,2022-07-13,0,0,0,2,1

## Data analysis

### Views

In [5]:
views = df.groupby(['name']).agg({"views_total": ["sum"]})
views = views[views[('views_total', 'sum')] > 0]
views.sort_values(by=[('views_total', 'sum')], ascending=False)

                   views_total
                           sum
name
ta                          38
Spring-Boot-Jersey           5
graphqldemo                  1
usermanagement               1

### Clones

In [6]:
clones = df.groupby(['name']).agg({"clones_uniques": ["sum"]})
clones = clones[clones[('clones_uniques', 'sum')] > 0]
clones.sort_values(by=[('clones_uniques', 'sum')], ascending=False)

                                  clones_uniques
                                             sum
name
ta                                           326
usermanagement                                 4
ExpresionesLambdas                             2
OStest                                         2
Spring-Boot-Vaadin                             2
b0rr3g0-blog                                   2
websocket-high-availability-front              2
zipExample                                     2
ETL_Electricidad                               1
tpv-frontend                                   1

# Stars

In [7]:
stars = df.groupby(['name']).agg({"stars_count": ["max"]})
stars = stars[stars[('stars_count', 'max')] > 0]
stars.sort_values(by=[('stars_count', 'max')], ascending=False)

                   stars_count
                           max
name
ta                           3
Spring-Boot-Jersey           1